/__pycache__/

/node_modules/

/go/

/go-macaroon/src/

/go-macaroon/pkg/

/php-macaroons/vendor/

/implementations/php-macaroons/vendor/

/tests/__pycache__/

/implementations/go-macaroon/src/

/implementations/go-macaroon/pkg/
