/__pycache__/

/node_modules/

/go/

/go-macaroon/src/

/go-macaroon/pkg/

/php-macaroons/vendor/

/implementations/php-macaroons/vendor/

/tests/__pycache__/

/implementations/go-macaroon/src/

/implementations/go-macaroon/pkg/

/implementations/rust-macaroons/first_party_caveat_signature

/implementations/rust-macaroons/basic_macaroon_signature

/implementations/rust-macaroons/basic_macaroon_serialized

/implementations/rust-macaroons/deserialized_signature
